'context-menu':
  '.tree-view .file .name[data-name$=\\.ipynb]':
    [{label: 'Import Notebook', command: 'hydrogen:import-notebook'}]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Hydrogen'
      'submenu': [
        {
          'label': 'Run'
          'command': 'hydrogen:run'
        }, {
          'label': 'Run and Move Down'
          'command': 'hydrogen:run-and-move-down'
        }, {
          'label': 'Run Cell'
          'command': 'hydrogen:run-cell'
        }, {
          'label': 'Run Cell and Move Down'
          'command': 'hydrogen:run-cell-and-move-down'
        }, {
          'label': 'Run All'
          'command': 'hydrogen:run-all'
        }, {
          'label': 'Run All Above'
          'command': 'hydrogen:run-all-above'
        }, {
          'label': 'Connect to Remote Kernel'
          'command': 'hydrogen:connect-to-remote-kernel'
        }
      ]
    ]
  }
]
