# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'.platform-darwin atom-text-editor':
  'cmd-alt-enter': 'hydrogen:run'

'.platform-darwin atom-workspace':
  'cmd-alt-backspace': 'hydrogen:clear-results'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-alt-enter': 'hydrogen:run'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'ctrl-backspace': 'hydrogen:clear-results'
