// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-repl.output-bubble {
    position: absolute;
    padding-left: 2px;
    padding-right: 2px;
    background-color: @background-color-selected;
    border: 1px solid lighten(@background-color-selected, 20%);
    border-radius: 3px;
    margin-left: 20px;
    white-space: nowrap;

    .error {
        color: @text-color-error;
    }

    &.rich {
        background-color: transparent;
        border: none;

        &.svg {
            background-color: white;
        }

        .close-button::after {
            // top: -5px;
            right: 0px;
        }
    }

    svg {
        background-color: white;
    }


    .bubble-result-container {
        position: relative;
        max-width: 500px;
        max-height: 300px;
        overflow: scroll;

        video, img, svg {
            max-width: 450px;
            max-height: 275px;
        }
    }

    .close-button {
        &::after {
            @close-text-color: lighten(@text-color, 20%);
            // @close-text-color: lighten(@text-color, 10%);

            color: @close-text-color;
            display: none;
            position: absolute;
            top: -12px;
            right: -12px;
            content: '✕';
            cursor: pointer;
            border: 1px solid @close-text-color;
            border-radius: 50%;
            padding: 1px;
            width: 1.5em;
            height: 1.5em;
            text-align: center;
            background-color: rgba(100,100,100, 0.95);
        }
    }

    &.multiline {
        padding-right: 10px;
        .close-button::after {
            display: block;
        }
    }
}

.atom-repl.status-container {
    display: inline-block;
    cursor: pointer;

    .status:hover {
        text-decoration: underline;
    }
}

.atom-repl {
    .spinner {
        text-align: center;
    }

    .spinner > div {
        background-color: @text-color;
        height: 100%;
        width: 2px;
        display: inline-block;

        -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
        animation: stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
        margin-left: 1px;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
        margin-left: 1px;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
        margin-left: 1px;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
        margin-left: 1px;
    }

    @-webkit-keyframes stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
        20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes stretchdelay {
        0%, 40%, 100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
            }
        20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }




}
