// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-repl.output-bubble {
    position: absolute;
    padding-left: 2px;
    padding-right: 2px;
    background-color: @background-color-selected;
    border: 1px solid lighten(@background-color-selected, 5%);
    border-radius: 3px;
    margin-left: 20px;
    white-space: nowrap;
    // -webkit-user-select: initial;

    .error {
        color: @text-color-error;
    }

    .rich {
        background-color: white;
    }
}

.atom-repl.status-container {
    display: inline-block;
}

.atom-repl {
    .spinner {
    //   width: @font-size;
    //   height: @font-size;

      position: relative;
    //   margin: 0px auto;
    }

    .double-bounce1, .double-bounce2 {
      width: 50%;
      height: 50%;
      border-radius: 50%;
      background-color: @text-color;
    //   opacity: 0.6;
      position: absolute;
      top: 25%;
      left: 25%;

      -webkit-animation: bounce 2.0s infinite ease-in-out;
      animation: bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    @-webkit-keyframes bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
    }

    @keyframes bounce {
      0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }
}
