// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

@light-background: fadein(lighten(@syntax-background-color, 40%), 100%);
@dark-background: fadein(lighten(@syntax-background-color, 10%), 100%);
@background: contrast(@syntax-text-color, @dark-background, @light-background, 20%);
@button-text-color: lighten(@syntax-text-color, 20%);
@error-base-color: average(@syntax-text-color, red);
@light-text-color: lighten(@syntax-text-color, 10%);

// ---------- Result View: Globals ----------
.hydrogen.result-view .output-container.plain-error {
    color: @error-base-color;
}

.hydrogen.result-view pre {
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    padding: 0;
    background: none;
    border: none;
}

.hydrogen.result-view.multiline pre {
    font-size: @font-size;
}

.hydrogen.result-view img,
.hydrogen.result-view svg {
    display: block;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

.hydrogen.result-view video {
    display: block;
}

.hydrogen.result-view td,
.hydrogen.result-view th {
    border: 1px solid @base-border-color;
    padding: 0.35em 0.7em;
    font-size: @font-size;
}

.hydrogen.result-view .MathJax_SVG_Display {
    margin: 0;
}

.hydrogen.result-view .MathJax_SVG .noError {
    padding: 0;
    border: none;
    color: @error-base-color
}

.hydrogen.result-view .MathJax_SVG svg {
    background-color: unset;
    margin: 0 !important;
    display: inline;
}

// ---------- Result View: Inline Output ----------
.hydrogen.result-view:not(.multiline) {
    float: left;
    display: inline-flex;
}

.hydrogen.result-view:not(.multiline) .output-container {
    cursor: pointer;
}

.hydrogen.result-view:not(.multiline) .output-container,
.hydrogen.result-view .status-container {
    color: @light-text-color;
    background-color: @background;
    border-radius: @component-border-radius;
    padding: 0 2px 0 2px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    overflow: hidden;
}

.hydrogen.result-view:not(.multiline) pre {
    font-size: inherit;
}

.hydrogen.result-view .status-container::before {
    margin: 0px;
    font-size: 80%;
    width: 80%;
}

.hydrogen.result-view:not(.multiline) .action-panel {
    display: none;
}

// ---------- Result View: Multiline Output ----------
.hydrogen.result-view.multiline {
    margin: 0px !important;
    width: calc(~'100% - 15px');
    position: relative;
    padding-top: @font-size * 0.5;
    padding-bottom: @font-size * 0.5;
}

.hydrogen.result-view.multiline .output-container{
    color: @syntax-text-color;
    padding: 14px;
    border: solid 1px @base-border-color;
    max-height: 400px;
    overflow-y: auto;
}

// ---------- Result View: Multiline Action Panel ----------
.hydrogen.result-view.multiline .action-panel {
    right: 0;
    display: inline-flex;
    position: absolute;
    padding-left: 0.5em;
    border: solid 1px @base-border-color;
}

.hydrogen.result-view.multiline .action-button {
    line-height: 2em;
    font-size: 1em;
    padding: 0 0.5em;
    cursor: pointer;
}

.hydrogen.result-view.multiline .action-button::before {
    width: 100%;
    text-align: center;
    margin: 0;
}

.hydrogen.result-view.multiline .action-button:hover {
    color: @button-text-color;
}

// ---------- Result View: Watch Sidebar ----------
.hydrogen.watch-sidebar .watch-view .result-view.multiline {
    width: 100%;
    padding: 0;
}

.hydrogen.watch-sidebar .watch-view .result-view.multiline .action-panel {
    display: none;
}

.hydrogen.watch-sidebar .watch-view .result-view.multiline .output-container {
    padding: 0;
}

.hydrogen.watch-sidebar .watch-view .result-view.multiline video,
.hydrogen.watch-sidebar .watch-view .result-view.multiline img,
.hydrogen.watch-sidebar .watch-view .result-view.multiline svg {
    height: 100%;
    width: 100%;
    max-height: 350px !important;
}

.hydrogen.watch-sidebar .watch-view .result-view.multiline pre {
    padding: 7px;
}

// ---------- Watch Sidebar ----------
.hydrogen.watch-sidebar {
    width: 300px;
    min-width: 200px;
    overflow-y: overlay;
    padding: 10px;
}

.hydrogen.watch-sidebar .toolbar .language {
    display: inline-block;
    padding: @component-icon-padding - 1px;
}

.hydrogen.watch-sidebar .toolbar .btn {
    float: right;
}

.hydrogen.watch-sidebar .watch-view {
    width: 100%;
}

.hydrogen.watch-sidebar .watch-view .watch-input {
    margin-top: 10px;
    padding: 3px;
    border-radius: 3px;
    background-color: @syntax-background-color;
    font-size: @font-size;
    min-height: 3em;
    border: 1px solid @base-border-color;
}

.hydrogen.watch-sidebar .watch-view .history-switch {
    padding: 3px 0 3px 0;
    position: relative;

    .counter {
        position: absolute;
        pointer-events: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .next-btn {
        float: right;
    }

    .scrollbar {
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: -@component-icon-size - @component-icon-padding - 1px;
        margin-left: @component-icon-size + @component-icon-padding + 2px;
        margin-right: @component-icon-size + @component-icon-padding + 2px;

        .hidden {
            height: 1px;
            width: 1000px;
            visibility: hidden;
            display: block !important;
        }
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    ::-webkit-scrollbar {
        height: @component-icon-size + @component-icon-padding;
        -webkit-appearance: none;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: @component-border-radius;
        border: 1px solid @button-border-color;
        background: @button-background-color;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: @button-background-color-hover;
    }
}

.hydrogen.watch-sidebar .watch-resize-handle {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -5px;
    width: 10px;
    cursor: ew-resize;
}

.hydrogen.watch-sidebar .btn-group {
    margin-top: 10px;
    display: block;
}

.hydrogen.watch-sidebar .btn-group .btn {
    width: 50%;
}

// ---------- Status Bar ----------
.hydrogen.status-container {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.hydrogen.status-container .status:hover {
    text-decoration: underline;
}

// --------- Spinner -----------
.hydrogen {
    .spinner {
        display: block;
        text-align: center;
        line-height: 100%;
        position: relative;
        top: 1px;
    }

    .spinner > div {
        background-color: @light-text-color;
        height: 100%;
        width: 2px;
        display: inline-block;

        -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
        animation: stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
        margin-left: 1px;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
        margin-left: 1px;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
        margin-left: 1px;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
        margin-left: 1px;
    }

    @-webkit-keyframes stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
        20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes stretchdelay {
        0%, 40%, 100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
            }
        20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }
}

// ---------- Globals ----------
.hidden {
    display: none;
}

.hydrogen.input-view {
    .label {
        padding-bottom: @component-padding;
    }
}

.plain-message.inspect-message {
    white-space: pre-wrap;
    font-size: @font-size;
}

.plain-message.inspect-message span[style],
.heading-summary.inspect-message span[style] {
    color: @text-color-info !important;
}

atom-text-editor,
atom-text-editor::shadow {
    .gutter .line-number {
        &.breakpoint {
            margin-bottom: -1px;
            border-bottom: 1px solid @text-color-info;
        }
    }
}
